<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>JSPApp4-InitParams_ContextParams</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- cfgs context param ==>>specific to web application -->
	<context-param>
		<param-name>dbuser</param-name>
		<param-value>xyx</param-value>
	</context-param>

	<servlet>
		<servlet-name>first</servlet-name>
		<jsp-file>/first.jsp</jsp-file>

		<!-- cfgs init param =>>specific to servlet/jsp component -->
		<init-param>
			<param-name>dbpwd</param-name>
			<param-value>manager</param-value>
		</init-param>

	</servlet>
	<servlet-mapping>
		<servlet-name>first</servlet-name>
		<url-pattern>/firsturl</url-pattern>
	</servlet-mapping>
</web-app>